<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="/">
        <img style="border-radius: 8px;" src="/icons/logo.webp" width="30" height="30" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- START -->
            <li class="nav-item dropdown" onmouseover="displayDropDown('dropdown-menu')"
                onmouseout="hideDropDown('dropdown-menu')">

                <% if (dropdownResults.length!==0 && dropdownResults.length!==undefined) {%>
                <a id="menuClassCheck" class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>

                <div class="dropdown-menu bg-warning" id="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/menu">Menu</a>
                    <% if(dropdownResults.length>0) {%>
                    <div class="dropdown-divider border-dark"></div>
                    <% } %>

                    <!-- DROPRIGHT START -->
                    <% let idnum = 'dropRight'; %>
                    <% for (var i = 0; i < dropdownResults.length; i++) { %>
                    <% if(dropdownResults[i].numberOfDropright>0) {%>
                    <div class="btn-group dropright" onmouseover="displayDropDown('<%=idnum+i%>')"
                        onmouseout="hideDropDown('<%=idnum+i%>')">
                        <button type="button" class="btn dropdown-item dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            <% let href = dropdownResults[i].sectionName.replace(/\s+/g, '') %>
                            onclick="location.href = '/<%= href %>';">
                            <%= dropdownResults[i].sectionName %>
                        </button> <br>
                        <!-- SUB DROPRIGHT -->
                        <div class="dropdown-menu bg-warning" id="<%=idnum+i%>">
                            <% for (var j = 0; j < dropdownResults[i].droprightOfDropdown.length; j++) { %>
                            <a class="dropdown-item"
                                href="<%= href %>/<%= dropdownResults[i].droprightOfDropdown[j].replace(/\s+/g, '') %>"><%= dropdownResults[i].droprightOfDropdown[j] %>
                            </a>
                            <% } %>
                        </div>
                    </div>
                    <% } else { %>
                    <a class="dropdown-item" href="<%= dropdownResults[i].sectionName.replace(/\s+/g, '') %>">
                        <%= dropdownResults[i].sectionName %></a>
                    <% } %>

                    <% } %>
                    <!-- DROPDOWN END -->
                </div>

                <% } else{%>
                <a id="menuClassCheck" class="nav-link text-dark" href="/menu" id="navbarDropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <% } %>


            </li>
            <!-- END -->
            <li class="nav-item">
                <a class="nav-link text-dark" href="/cart">Cart</a>
            </li>

        </ul>

        <div class="form-inline my-2 my-lg-0">
            <% if(user){%>
            <button onclick="location.href = '/profile';"
                class="login btn mr-sm-2 my-2 my-sm-0 text-dark border border-dark" type="submit"> Profile
            </button>
            <button onclick="location.href = '/auth/logout';"
                class=" btn mr-sm-2 my-2 my-sm-0 text-warning bg-dark border border-dark" type="submit">Log out
            </button>
            <% } else{ %>
            <button onclick="location.href = '/login';"
                class=" login btn mr-sm-2 my-2 my-sm-0 text-dark border border-dark" type="submit">Log
                In</button>
            <button onclick="location.href = '/signup';"
                class=" btn mr-sm-2 my-2 my-sm-0 text-warning bg-dark border border-dark" type="submit">Sign
                Up</button>
            <% } %>

        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  my-2 my-sm-0 bg-dark text-warning border border-warning" type="submit"><i
                    class="fas fa-search"></i></button>
        </form>
    </div>
</nav>